@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: '1';
  src: url('gilroy/Gilroy-Regular.ttf');
}

@font-face {
  font-family: '2';
  src: url('gilroy/Gilroy-Bold.ttf');
}

@font-face {
  font-family: '3';
  src: url('gilroy/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: '4';
  src: url('gilroy/Gilroy-Heavy.ttf');
}

@font-face {
  font-family: '5';
  src: url('gilroy/Gilroy-Light.ttf');
}

@font-face {
  font-family: '6';
  src: url('gilroy/Gilroy-SemiBold.ttf');
}

@font-face {
  font-family: '7';
  src: url('gilroy/Gilroy-Thin.ttf');
}

@font-face {
  font-family: '8';
  src: url('gilroy/Gilroy-UltraLight.ttf');
}

@font-face {
  font-family: '9';
  src: url('gilroy/Gilroy-Regular.ttf');
}


*{
  scroll-behavior: smooth;
}
body{
  font-family: '1', sans-serif;
  overflow-x:hidden;
  color: black;
}
::selection {
  background-color: #073A0E;
  color: white;
}
.sidebar{
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;
}

.welcome{
  color: black;
  font-weight: 200;
  margin-top: 1em;
  margin-left: 1em;
}

hr{
  margin-left: 8em !important;
  margin-right: 8em !important;
}

.ebbubc{
  color: black;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 2em;
  margin-left: 7em;
  font-family: '1', sans-serif;
  animation: ebbubcoof 1s 1 ease-in-out;
  animation-fill-mode: forwards;
  cursor:default;
}


.navlinks{
  transform: rotate(270deg);
  width: 25%;
  margin-top: -3em;
  cursor: pointer;
  margin-left: 25em;
}
.navlinka{
  font-size: 5em;margin-left: 0 !important;

  margin-right: 0 !important;
  margin-top: 1.3em;
  width: 0;
  height: 0.8%;
}


.navlinka:hover{
  animation: lowbright 0.7s 1;
  animation-fill-mode: forwards;
}

.student-details{
  width: 40%;
  margin-left: 6em;
  font-family: '2';
  display: inline-block;
  margin-top: 6em;
}

.portal-heading{
  font-family: '2';
  font-size: 2em !important;
}

.details-img{
  border-radius: 50%;
  background-color: white;
  margin-right: 1em;
  max-width: 7em;
  display: inline-block;
}

@keyframes lowbright {
  100%{
    filter: brightness(10%);
  }
}

a{
  cursor: pointer;
}

#vid{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.notice{
  width: 70em;
  height: 8em;
  border-radius: 1em;
  background-color: white;
  vertical-align: middle;
  border: 1px black solid;
}

.all-homeworks{
  max-height: 35em;
  overflow: scroll;
}

.homework{
  width: 50em;
  height: 8em;
  border-radius: 1em;
  margin-top: 1em;
  background-color: black;
  vertical-align: middle;
}

.date-notice{
  font-family: '2';
  font-size: 2em;
  vertical-align: middle;
  padding-top: calc(8em/6);
  margin-left: 2em;
  border-right: 2px black solid !important;
  display: inline-block;
  padding-right: 2em;
  height: 100%;
}

.title-notice{
  font-family: '1';
  font-size: 1.4em;
  display: inline-block;
}

.date-hw{
  font-family: '2';
  font-size: 2em;
  vertical-align: middle;
  padding-top: calc(8em/6);
  margin-left: 2em;
  color: white;
  border-right: 2px white solid !important;
  display: inline-block;
  padding-right: 2em;
  height: 100%;
}

.title-hw{
  font-family: '1';
  font-size: 1.4em;
  color: white;
  display: inline-block;
}

.homelogo{
  max-width: 12em;
  display: block;
  margin-left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 3em;
  user-select: none; 
}

.homelogo:hover{
  animation: wooo 0.5s 1 ease-in-out;
}

.details-name{
  font-size: 1.8em;
  font-family: '1';
  vertical-align: top;
  display: inline-block;
}

.secret{
  font-size: 0.5em;
  font-weight: 700;
}

@keyframes wooo {
  0%{
    transform: translateX(-50%);
  }
  25%{
    transform: translateX(-58%);
  }
  50%{
    transform: translateX(-42%);
  }
}

.nutimg{
  user-select: none;
  max-width: 70em;
  pointer-events: none;
  margin-top: 7em;
  margin-bottom: 2em;
}

#menu{
  z-index: 400;
  font-weight: 400;
  font-family: '1', sans-serif;
}

#menu:hover{
  color:rgb(48, 48, 48);
}

.sidenav{
  background-color: white;
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  top: 8em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-family: '1', sans-serif;
  color: black;
  font-weight: bold;
  overflow-y: hidden;
}
.nav-no{
  float: right;
  font-family: '1', sans-serif;
  position: absolute; right: 5em; top: 7em; font-family: '1', sans-serif; font-weight: 400; font-size: 1.7em;
  position: absolute;
  color: black;
}

.mm{
  overflow-x: hidden !important;
  overflow: scroll;
  border-radius: 1em;
  margin-right: 1em;
  height: 30em;
  display: inline-block;
  margin-bottom: 1em;
  width: 45em;
  vertical-align: middle;
  padding: 1em 1em 1em 1em;
  background-color: #e2e2e2;
  filter: brightness(99%);
}

.n{
  display: inline-block;
  vertical-align: middle;
}

.dimg{
  border-radius: 0.6em;
  max-width: 45em;
  margin-bottom: 2em;
}

main{
  background: url('bg.png');
  height: 100vh;
  padding: 1em 1em 1em 1em;
}

.nav-email{
  position: absolute; right: 5em; top: 10em; font-family: '6', sans-serif; font-weight: 600; font-size: 1.7em; text-decoration: underline 2px white; text-underline-offset: 0.2em;
}
.nav-socials{
  position: absolute;
  top: 22em;
  right: 8em;
}

*:active{
  text-decoration: none;
  border: none;
  outline: none;
}

*:focus{
  text-decoration: none;
  border: none;
  outline: none;
}

.News{
  margin-left: 4em;
  padding: 1em 1em 1em 1em;
  background-color: whitef;
  margin-right: 4em;
}

.nhead{
  font-family: '2';
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.065em;
}

.active{
  color: #073A0E;
}

a:hover{
  text-decoration: none;
}

.sidebara:hover{
  animation: gloww 0.7s 1;
  animation-fill-mode: forwards;
}

.vm{
  width: 8em;
  height: 3em;
  font-weight: 700;
  background-color: black;
  font-size: 1.6em;
  color: white;
  margin-left: 10em;
  animation: niceeshadowoof 1s 1 forwards;
}

.vm:hover{
  animation: niceeshadow 1s 1 forwards;
}

.notices{
  display: inline-block;
  overflow: scroll;
  margin-left: 2em;
  margin-top: 5em;
  vertical-align: top;
  max-height: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

@keyframes niceeshadowoof {
  100%{
    filter: drop-shadow(3px 3px 0 transparent);
  }

  0%{
    filter: drop-shadow(3px 3px 0.2rem rgba(0, 0, 0, 0.36));
  }
}

@keyframes niceeshadow {
  0%{
    filter: drop-shadow(3px 3px 0 transparent);
  }

  100%{
    filter: drop-shadow(3px 3px 0.2rem rgba(0, 0, 0, 0.36));
  }
}

@keyframes gloww {
  0%{
    filter: drop-shadow(0 0 0rem red);
  }
  100%{
    filter: drop-shadow(0 0 0.6rem red);
  }
}

  /* ScrollBar */
  /* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background:#073A0E;
  border-radius: 10em;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b5915;
}

.toppers{
  background-color: white;
  padding: 1em 1em 1em 1em;
}

.th{
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-left: 3em;
}

.timg{
  max-width: 3em;
}

.ttop{
  font-size: 2em;
}

.top-name{
  font-family: '2';
  font-size: 2.5em;
  z-index: 2;
}

.hqwe{
  position: absolute;
  max-width: 3em;
  margin-top: -5em;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  margin-left: 7em;
}

.tpr{
  margin-left: 10em;
  background-color: white;
  margin-top: 1em;
}

.tpr2{
  margin-right: 17em;
  padding-left: 40%;
  float: right;
  background-color: white;
}

.dn{
  max-width: 3em;
  margin-left: 2em;
}

.label{
  color: black !important;
  font-family: '2' !important;
  letter-spacing: 0.06em;
  font-size: 1.6em !important;
}

*{
  outline: none;
}

.inpoot{
  padding: 1.75em 1em 1.75em 2em;
  width: 40em;
  margin-left: 2em;
  margin-top: 1em;
  outline: none;
  font-family: '2';
  background: #FFFFFF;
  border: 3px solid #000000;
  border-radius: 1em;
  font-size: 1.6em;
}

.forum{
  display: flexbox;
  align-items: center;
  position: absolute;
  margin-left: 6em;
  top: 50%;
  transform: translateY(-50%);
}

.stat1{
  width: 8em;
  height: 8em;
  margin-right: 8em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.stat-name{
  font-size: 1.4em;
  word-wrap: normal;
  width: 10em;
  margin-left: -1em;
}

.stat1-data{
  color: white;
  align-items: center;
  margin-top: 50%;
  font-size: 1.4em;
  transform: translateY(-50%);
  font-family: '6';

  text-align: center;
}

.admin-main{
  background: rgb(255, 255, 255);
  float: right;
  overflow:scroll;
  overflow-x: hidden;
  right:1em;
  width: 80%;
  padding:1em 1em 1em 1em;
  position: absolute;
  top: 10em;
  border-radius: calc(37px/2);
  max-height: 75%;
  scroll-behavior: smooth;
}

.admin-head{
  font-family: '3';
  letter-spacing: 0.05em;
  margin-left: 1em;
  font-weight: 900;
  margin-top: 3em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.admin-vector{
  margin-right: 1em;
  vertical-align: middle;
  max-width: 1.25em;
}

.admin-navlink{
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 2.5em;
  color: black;
  font-family: '6';
  margin-left: 1em;
  text-decoration: none;
  font-weight:400;
}

.admin-navlink:hover{
  text-decoration: none;
  color: black;
}
a{
  color: black !important;
  text-decoration: none !important;
}

.admin-nav{
  width: 20%;
  height: 100%;
  margin-top: 8em;
  overflow: none;
  margin-left: 1.5em;
  margin-right: 0;
}

.admin-notice{
  height: 90%;
}

.admin-title{
  font-family: '2';
  margin-left: 2em;
  margin-top: 1.5em;
}

.admin-label{
  font-family: '1';
  margin-top: 1em;
  margin-left: 5em;
  font-size: 1.4em;
}

.admin-input{
  background-color: #0D0D0D;
  width: 50%;
  margin-left: 7em;
  font-family: '1';
  margin-top: 0.5em;
  padding: 1.5em 1em 1.5em 2em;
  border-radius: 0.6em;
  color: white;
  outline: none;
  font-size: 1.2em;
  border: none;
}


.admin-input2{
  background-color: #0D0D0D;
  width: 70%;
  margin-left: 7em;
  height: 15em;
  resize: none;
  font-family: '1';
  vertical-align: text-top;
  margin-top: 0.5em;
  font-size: 1.4em;
  padding: 2.5em 2em 2.5em 2em;
  border-radius: 0.6em;
  letter-spacing: 0.05em;
  color: white;
  text-align:start;
  outline: none;
  font-size: 1.2em;
  border: none;
}

.manage-head{
  width: 13%;
  font-size: 1.5em;
  padding: 1em 2em 1em 2em;
  text-align: center;
}

/* RESPONSIVE */
@media screen and ( max-height: 715px ) { 
  .navlinks{
    margin-top: -13em;
  }
}
@media screen and (max-height: 607px) {
  .navlinks{
    margin-top: -20em;
  }
}
@media screen and (max-height: 541px) {
  .navlinks{
    margin-top: -27em;
  }
}
@media screen and (max-height: 477px) {
  .navlinks{
    margin-top: -34em;
  }
}
@media screen and (max-width:1215px) {
  .navlinks{
    margin-left: 34em;
  }
}
@media screen and (max-width:766px) {
  .navlinks{
    transform: rotate(0);
    width: 100%;
    margin-top: 0.8em;
    margin-left: 5em;
  }
  .sidenav{
    overflow-y: scroll;
  }
  .nav-no{
    position: relative;
    /* align-items: center; */
    float: right;
  }
  .nav-socials{
    position: relative;
    /* align-items: center; */
    /* right: -1; */
    /* margin-right: -6em; */
    float: right;
    
  }
  .nav-email{
    position: relative;
    /* margin-left:20em; */
    align-items: center;
    margin-right: -2em;
    right: 0;
    float: right;
  }
}

footer{
  background-color: transparent;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ftxt{
  display: inline;
  font-weight: 400;
  margin-left: 2em;
  font-size: 1.4em;
}


.logo2{
  max-width: 20em;
  float: right;
  margin-right: 7em;
}



@media screen and (max-width:540px){
  .nav-socials{
    margin-right:-6em;
  }
}

@media screen and (max-width:992px){
  .eventstxt{
    width: 80%;
  }
}

@media screen and (max-width:339px){
  .nav-socials{
    margin-right: -21em;
  }
  .nav-email{
    margin-right: -5em;
  }
}

@media screen and (max-width: 460px){
  .bigteamimg{
    max-width: 30em;
  }
  .eventsh{
    font-size: 4em;
  }
  
}

@media screen and (max-width: 383px) {
  .eventbtn2{
    margin-left: 0;
  }
}

@media screen and (max-width:1464px){
  .bigteamimgright{
    margin-right: 1em;
  }
}

@media screen and (max-width: 740px){
  .nutimg{
    max-width: 50em;
  }
}

@media screen and (max-width: 530px){
  .nutimg{
    max-width: 40em;
  }
}

@media screen and (max-width:620px) {
  .tpr{
    width: 100%;
  }
  .tpr2{
  margin-right: 0em;
  padding-left: 0;
  margin-left: 10em;
  margin-bottom: 4em;
  width: 100%;
  float: left;
  }
}

@media screen and (max-width:625px) {
   .logo2{
    display: block;
    float: left;
    position: relative;
   }
   .ftxt{
    position: relative;
   }
}

@media screen and (max-width:569px) {
  .logo2{
    width: 100% !important;
  }
  .dn{
    display: none;
  }
}

@media screen and (max-width:1228px){
  .assignments{
    width: 100em;
    display: block;
  }
  .all-homeworks{
    width: 100em;
  }
}

@media screen and (max-width:788px) {
  .notice{
    width: 60em;
  }
}

@media screen and (max-width:676px) {
  .notice{
    width: 50em;
  }
}

@media screen and (max-width:582px) {
  .notice{
    width: 40em;
    height: 10em;
  }
  .title-notice{
    display: inline-block;
    word-wrap:break-word !important;
  }
  .date-notice{
    display: inline-block;
    border-left: none;
  }
}

@media screen and (max-width:602px) {
  .notice{
    width: 40em;
  }
  .homework{
    width: 40em;
  }
}

@media screen and (max-width:1276px) {
  .inpoot{
    width: 30em;
    margin-left: 1em;
  }
  .label{
    margin-left: 1em;
  }
}


@media screen and (max-width:670px) {
  .inpoot{
    width: 30em;
    margin-left: -4em;
  }
  .label{
    margin-left: -4em;
  }
  .eljogus{
    position: absolute !important;
    left: 50% !important;
    z-index: -1 !important;
    display: none !important;
    top: 1% !important;
    transform: translateX(-50%) !important;
  }
}

@media screen and (max-width:1167px) {
  .admin-main{
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: BLOCK;
    top: 40em;
    bottom: 2em;
  }
  .admin-nav{
    width: 100%;
    margin-bottom: 1em;
  }
}

@media screen and (max-width:972px) {
  .hw-submit{
    width:50% !important;

  }
}

@media screen and (max-width:882px) {
  .hw-submit{
    width:80% !important;
    
  }
  .hw-sub{
    width:80% !important;
    
  }
}

@media screen and (max-width:968px) {
  .cu{
    width: 85% !important;
  }
}
@media screen and (max-width:699px) {
  .cu{
    width: 75% !important;
  }
}


/* 
.admin-nav{
  width: 20%;
  height: 100%;
  margin-top: 8em;
  overflow: none;
  margin-left: 1.5em;
  margin-right: 0;
} */